body {
  margin: 32px auto;
  width: 90%;
  background-image: url('../images/paper-texture-dark-low.jpg');

/*  background-image: url('../images/grid-bg-32px.png');
  background-repeat: repeat;
*/
  font-family: "acta-display", times, sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgb(40,40,40);
  text-shadow: 0px 1px 0px rgba(225,225,225,0.3);

  /*border: 1px dashed rgb(40,40,40);*/
}

header { width: 100%; }

h1,h2,h3,h4,h5,h6 {
  font-family: "acta-poster", verdana, sans-serif;
  line-height: 64px;
  text-transform: uppercase; font-weight: normal;

  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
h1 {
  font-size: 46px;
}
article>h1 { font-size: 38px; }
header>h1 { text-align: center; }

h1>small,
h2>small,
h3>small,
h4>small,
h5>small,
h6>small {
  font-family: "acta-display", sans-serif;
  font-weight: lighter;
  text-transform: none;
  font-style: italic;
  font-size: 0.8em;
}

a:link, a:visited,
a:hover, a:active { color: inherit; }

a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

nav.mobile { display: none; }
header>nav {
  float: left;
  width: 100%;
  position: relative;

  margin: 0px;
  padding: 14px 0px;
}
header>nav>ul {
  margin: 0;
  padding: 0;

  clear: left;
  float: left;
  position: relative; left: 50%;

  text-align:center;
}
header>nav>ul>li {
  margin: 0;
  padding: 0;

  display: block;
  float: left;
  position: relative; right: 50%;
}
nav>ul>li>a,
nav>ul>li>a:link,
nav>ul>li>a:visited {
  margin: 0px 8px;
  padding: 0px 8px;
  font-weight: bolder;
  text-shadow: 0px 1px 0px rgba(225,225,225,0.3);
  border-radius: 8px;
  border: 2px dashed rgba(40,40,40,0);
  display: block;

  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
nav>ul>li>a:hover,
nav>ul>li>a.active {
  border-color: rgba(40,40,40,1);
  text-decoration: none;
}
nav>ul>li>a.active {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
nav>ul>li>a:hover {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
}

small { font-size: 0.9em; }

article {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
}

p { margin: 32px 0px; }
article>p:first-child,
article>p.first { margin-top:    8px; }
article>p:last-child  { margin-bottom: 0px; }
article a:link,
article a:visited {
  color: rgb(238,130,238);
  text-shadow: 0px 1px 0px rgba(225,225,225,0.3), 0px -1px 0px rgba(40,40,40,0.3);
}

ul { list-style-position: inside; }
ol>li { margin: 16px 0px; }

article>img {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-top-color:    rgba( 40, 40, 40,0.4);
  border-left-color:   rgba( 40, 40, 40,0.4);
  border-bottom-color: rgba(225,225,225,0.4);
  border-right-color:  rgba(225,225,225,0.4);
}
article>img,
img.left  { float: left;  margin-left:  0px; margin-right: 32px; margin-top: 16px; margin-bottom: 0px; }
img.right { float: right; margin-right: 0px; margin-left:  32px; margin-top: 16px; margin-bottom: 0px; }
img.tall {
  height: 320px;
  max-height: 320px;
}
img.wide {
  height: 256px;
  max-height: 256px;
}

footer { float: left; width: 100%; margin: 16px 0px; }
footer>h5,
footer>h6 {
  font-size: 14px;
  font-family: "acta-display", sans-serif;
  text-align: center;
  text-transform: none;
}
footer>h5 { font-size: 16px; margin-bottom: 16px; }

footer>nav {
  position: relative;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 32px;
}

#rsvp-app h1,
#rsvp-app h2,
#rsvp-app h3,
#rsvp-app h4,
#rsvp-app h5,
#rsvp-app h6 { font-weight: normal; }

#rsvp-stamp {
  position: absolute; top: -16px; right: -32px;
  z-index: 1;
  width: 128px;
  height: 128px;

  opacity: 0.6;
}
footer>nav>#rsvp-stamp {
  top: auto; bottom: -64px;
}

@media all and (max-width: 820px) {
  ol { list-style-position: inside; }
}

@media all and (max-width: 480px) {
  header>nav>ul>li>a { font-size: 24px; }
  header>nav { display: none; }
  nav.mobile { display: block; }

  header>h1 { font-size: 36px; }
  article>h1 { font-size: 28px; }

  article>img,
  article>img.left,
  article>img.right { float: none; display: block; margin: 16px auto; max-width: 100%; }
  article>img.wide { height: auto; }
}