<article>
  <p>Our wedding location is in <em>East County San Diego</em> and is approximately 25 minutes driving distance from Downtown, San Diego.</p>
  <p>We've compiled a list of our recommendations for hotel locations that are 30 minutes driving distance or less from the wedding location and from hot spots in San Diego if you wanted to see some sites.</p>
  <h2>East County <small>15 minutes away</small></h2>
  <ul>
    <li><a href="http://www.holidayinn.com/hotels/us/en/la<li>mesa/sanpd/hoteldetail" target="_blank">Holiday Inn (La Mesa)</a></li>
    <li><a href="http://www.super8.com/hotels/california/la<li>mesa/super<li>8<li>san<li>diego<li>area<li>la<li>mesa/hotel<li>overview" target="_blank">Super 8 (La Mesa)</a></li>
  </ul>
  <h2>Downtown  <small>25 minutes away</small></h2>
  <ul>
    <li><a href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1009" target="_blank">The Westin (Gaslamp Quarter)</a></li>
    <li><a href="http://www.hortongrand.com" target="_blank">The Horton Grand Hotel (city center)</a></li>
  </ul>
  <h2>Mission Valley <small>30 minutes away</small></h2>
  <ul>
    <li><a href="http://www.hotelcircle.net" target="_blank">Hotel Circle (has many awesome hotels)</a></li>
    <li><a href="http://www3.hilton.com/en/hotels/california/hilton<li>san<li>diego<li>mission<li>valley<li>SANMVHF/index.html" target="_blank">Hilton San Diego (Mission Valley/Old Town)</a></li>
    <li><a href="http://book.bestwestern.com/bestwestern/US/CA/San<li>Diego<li>hotels/BEST<li>WESTERN<li>Seven<li>Seas/Hotel<li>Overview.do?propertyCode=05281" target="_blank">Best Western Seven Seas (Mission Valley/Old Town)</a></li>
  </ul>
  <h1 style="text-align: center; margin-top: 32px;">Attractions</h1>
  <h2>Near Downtown/Harbor</h2>
  <ul>
    <li>San Diego Zoo</li>
    <li>Balboa Park</li>
    <li>Hillcrest (great places to eat!)</li>
    <li>Seaport Village (restaurants & cute shops)</li>
  </ul>
  <h2>Beaches</h2>
  <ul>
    <li>La Jolla Shores/Village (beautiful scenery & shops)</li>
    <li>Coronado Island (Cecily and Tony's favorite beach, great restaurants and shops)</li>
    <li>Ocean Beach & Sunset Cliffs (funky shops, gorgeous views from the cliffs)</li>
    <li>Mission Beach/Mission Bay (beach shops, roller coaster & arcade)</li>
  </ul>
  <h2>Fun parks to check out</h2>
  <ul>
    <li>Legoland (Carlsbad)</li>
    <li>San Diego Zoo (Downtown area)</li>
    <li>San Diego Safari Park (Escondido)</li>
    <li>Sea World (Mission Bay)</li>
  </ul>
  <h2>Restaurants</h2>
  <ul>
    <li>Casa de Pico (Authentic Mexican, Grossmont Center/La Mesa Area)</li>
    <li>Sushiya (Awesome Sushi! Liberty Station, Point Loma area)</li>
    <li>Burger Lounge (multiple locations: Hillcrest, Coronado, Downtown)</li>
    <li>Filippi's Pizza Grotto (multiple locations: Downtown, Jamul)</li>
    <li>Santana's Taco Shop (SDSU area)</li>
  </ul>
</article>