<h2>Email</h2>
<p class="first"><a href="mailto:tcpapia@gmail.com?subject=Wedding Question">tcpapia@gmail.com</a></p>
<h2>Shipping address</h2>
<p class="first">
  <a href="http://maps.google.com/maps?q=2941+Pioneer+Way+Jamul+CA+91935">
    2941 Pioneer Way<br/>
    Jamul, CA 91935
  </a>
</p>