<article>
  <h2>From DOWNTOWN SAN DIEGO</h2>
  <ol>
    <li>Take Highway 94 EAST</li>
    <li>
      Turn RIGHT to stay on 94 EAST/Campo Rd.<br/>
      <em>(4.5 miles)</em>
    </li>
    <li>
      Turn LEFT onto Lyons Valley Rd.<br/>
      <em>(1.6 miles)</em>
    </li>
    <li>
      At the first stop sign, turn RIGHT to stay on Lyons Valley Rd.<br/>
      <em>(1.8 miles, you will start climbing the mountainside)</em>
    </li>
    <li>
      Turn RIGHT onto Rocky Mountain Rd.<br/>
      <em>(Climb 0.5 miles)</em>
    </li>
    <li>
      Continue STRAIGHT onto Isla Vista Rd.<br/>
      <em>(Climb 0.6 miles, stay to the left to stay on Isla Vista)</em>
    </li>
    <li>
      The wedding is located at the very top, where you will see a big, blue house. Parking is located in the lot below the driveway, to the RIGHT.
    </li>
  </ol>
  <p><em>*Shuttles will be provided to get to the top of the driveway</em></p>
</article>