<article>
  <h1>By the Groom</h1>
  <img class="tall left" src="/images/tony-profile-small.jpg"/>
  <p class="first">Our story doesn't exactly have the most romantic beginning. When we first met, there were hardly "sparks", but eventually, we came to find an interest in one another, after I (Tony) was done making a rough first impression.</p>
  <p>Actually, we owe the start of this relationship to our dear friends <a href="http://www.justinandcherisa.com/">Justin and Cherisa Ellis</a>. It started in January of 2011. Justin and Cherisa had only just begun dating a few months prior, but since he lived with me at the time, I saw a lot of his new found love. She visited our apartment pretty frequently, and in this case, brought an out-of-town friend along. Cecily was doing what she does best; traveling. She ended up in Boston with her old YWAM friend, Cherisa, as her host, and eventually made her way to Salem, Massachusetts, where Justin and I lived.</p>
  <p>When Cecily and I first met, it was in the gym at Gordon College. Justin and I were in the gym playing basketball and Cherisa had taken Cecily to meet us and to train for the marathon she would soon be running. Enter my stupid mouth:</p>
  <p>"This is my friend Cecily." Cherisa said, "She's training for a marathon."</p>
  <img class="tall right" src="/images/biscuits-5-small.jpg"/>
  <p>Tony, equal parts impressed and intimidated, "Wow, a marathon?! Why would anyone want to do that?"</p>
  <p>Nice.</p>
  <p>Cecily, taking it like a champ, sort of laughed and shrugged it off. We chatted briefly and then she went on to start running. I promptly turned to Justin and said,</p>
  <p>"Um, she's cute. Why have I never heard of her?"</p>
  <p>Thinking back, it's a miracle that she even spoke to me after that first interaction. But by God's grace, she did. We had a few more interesting conversations that week during her short stay on the North Shore of Boston. Cherisa did her best to convince Cec that I was actually interested in her, but Cec wasn't really buying it. Our conversations were a highlight reel of awkwardness and foot-in-mouth moments by yours truly, not to mention the entertaining blend of east coast & west coast personality differences. It was by no stretch of the imagination romantic. But I assure you, it gets better.</p>
  <p>On Cecily's last night in town, our conversation finally got a little bit deeper and we started to see a side of one another that began sparking an attraction. We stayed up all night talking while Justin lay passed out on the couch next to us. That's saying a lot for me because I despise all-nighters, but this was a conversation I had no interest in ending. The following morning, I half-jokingly suggested that Cecily stay in Massachusetts. Of course, I knew that wasn't going to happen, but Cecily in her kindness said,</p>
  <img class="wide left" src="/images/biscuits-6-small.jpg"/>
  <p>"Well, if you're ever in San Diego, come say 'hi'!" The first thing that came to my head was,</p>
  <p>"Well, how can I do that if I don't have your number?" Yes. Smooth, I know.</p>
  <p>With numbers exchanged, I took the opportunity to stay in touch and try to drop major hints at my interest in her. It didn't take long for her to slam the door shut on that. She was planning to go back to Australia in just a few months. But what can I say? God is good.</p>
  <p>We stayed in touch and eventually moved our phone conversations to Skype "dates". Then, just a few months later, I flew out to San Diego to officially make my intentions known. I was pretty sure it was going to be the most epic fail of all time, but it was a risk that I had to take. Obviously, it turned out to be one of the best decisions I've ever made. We began dating and did our best to make the most of a long distance relationship. There was travel back and forth and then, eventually, I moved out to San Diego from Massachusetts in October of 2011.</p>
  <p>Seven months later, on May 20th, I asked her to be my wife in a row boat on lovely lake Cuyamaca. Three of our best friends, Robin, Neil and Brad, were there to capture the moment (check out the photos). This November 3rd, we'll exchange vows on top of a picturesque mountain in Jamul, California, just minutes from where Cec grew up.</p>
  <p>I love this story. I would have never expected it to go this way, but I think it goes to show that God has such a better plan that I could ever think up on my own.</p>

  <h1>By the Bride</h1>
  <img class="tall left" src="/images/cecily-profile-small.jpg"/>
  <p class="first">As you read earlier (like, one second ago), Tony and I found one another in a very unexpected manner. I would have never pictured meeting my future husband all the way in Massachusetts on a quick trip visiting Cherisa, but I am so glad that I did. Our relationship has been unique from the start. I am so thankful that God blessed me with a man like Tony. He's my best friend! Throughout the time I've known him, we've shared in the deepest belly laughs I've ever experienced and we've also grown through really tough challenges. The two of us feel blessed like crazy by the way God has brought us together and continues to use us for making one another into the likeness of Christ.</p>
  <p>I'm so excited to start this new chapter of life with Tony by my side and see where God takes us! Thank you all so much for the prayers, love and support. We're so excited about the wedding and sincerely hope to have you there to celebrate with us!</p>
</article>
