<h1>Photos</h1>
<div class="thumbnails">
  <img src="/images/gallery/biscuits-1.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
  <img src="/images/gallery/biscuits-2.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
  <img src="/images/gallery/biscuits-3.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
  <img src="/images/gallery/biscuits-4.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
  <img src="/images/gallery/biscuits-5.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
  <img src="/images/gallery/biscuits-6.jpg" width='342px' height='352px' alt="Anthony Papia and Cecily Carillo"/>
</div>