<p>Cecily and Tony have created their registry using <strong><a href="http://www.wishpot.com" target="_blank">Wishpot</a></strong>. The idea is that they are not restricted to a few specific stores, but can instead compile a wishlist from multiple stores and keep it all in one place! Wishpot is a great way to stay simple and is easy-to-use.</p>
<h2>Accessing Wishpot</h2>
<ol>
  <li>Go to <em><a href="http://www.wishpot.com/user/292200" target="_blank">our registry on wishpot.com.</a></em></li>
  <li>From there, click on the registry and feel free to browse through the listed items.</li>
  <li>Once you've opened the list, you can sort by price range or by category and browse through the various items. If you find something you'd like to purchase, please "reserve" this item so that others will know it's been bought, and choose for it to be "private" so that Cecily and Tony can't see who purchased it. The item will then go onto a list of "reserved items" that Cecily and Tony are unable to view - to maintain the element of surprise!</li>
  <li>With gift items, you may purchase items online or in-store, but please make sure the item is reserved to show it's been purchased, or taken off reserve if you've changed your mind.</li>
</ol>
<h2>Purchasing an Item</h2>
<ol>
  <li>Under the green "Buy It" button located to the left of the item, first click the "Mark as Purchased" link.</li>
  <li>A box will come up that asks for your name and email address to confirm that you are purchasing it. Once your name and email address are entered, click the "purchase" button.</li>
  <li>You should then be taken to a page with confirmation that you marked the item as purchased. Next, click the "Buy It" button.</li>
  <li>
    Wishpot.com will then redirect you to the item listed on it's original website it is normally sold on (i.e. anthropologie.com). Follow the directions from the website by adding the item to your online cart or online bag. Click on the "checkout" button to purchase the item. You will then be taken to a page to enter your email address and credit card information.<br/>
    <em><small>Note that you don't have to sign up under the website for an account, just find the "checkout as a guest" button to continue your purchase.</small></em>
  </li>
</ol>
<p>If you have any questions regarding the registry or if you are having trouble, please <a href="/contact_us">let us know!</a></p>